/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img.hueRosa { filter: hue-rotate(120deg); }
img.hueVerde { filter: hue-rotate(240deg); }
img.hueAzul { filter: hue-rotate(0deg); }
img.hueRoxo { filter: hue-rotate(60deg); }
#map {
  height: 100dvh;
}
.informative-card, .popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  max-width: 300px;
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 400px;
  overflow-y: scroll;
  font-family: sans-serif;
  & h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  & p{
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    & b{
        font-weight: bold;
    }
  }
}
